@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,600italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    font-family: 'Ubuntu','Lato','Josefin Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial','Lucida Grande','sans-serif';
}

.head-line {
    height: 20px;
    position: absolute;
    top: 0;
    background-color: #43a1e1;
    width: 100%;
    margin-bottom: 20px;
}

.top-bar { margin: 0 auto; 
}
.orbit-slide-number { display: none; }

.orbit-bullets {
    position: absolute;
    top: 10px;
    left: 10px;
}